<div style="padding-bottom: 20px;margin-top: 20px;">
	<div style="width: 100%;text-align: center;">
		<h1>Mes commandes</h1>
	</div>
	<div *ngIf="!loading" class="list">
		<div *ngFor="let commande of commandes" class="plat">
			<div style="width:100%;text-align: center;">
				<img src="/assets/sakafo.png"  style="text-align: center;">
			</div>
			<div style="padding: 8px 40px 1px 40px;text-align: center;">
				<p> [{{commande.quantite}}] {{commande.plat.nom}} </p>
				<p> de Chez {{commande.plat.restaut.nom}} livrer à {{commande.lieu}}  </p>
				<p> Total : {{(commande.plat.prix*commande.quantite)}} Ar  </p>
				<p style="color: lightgray;"> {{commande.status}}  </p>
			</div>
			<div style="text-align:center" *ngIf="status[commande.status]">
				<button class="btn btn-green-e-kaly" >{{status}}</button>
			</div>
		</div>
	</div>
	<div *ngIf="loading" style="width: 100%;justify-content: center;display: flex;">
		<div class="spinner-border green-e-kaly"  role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
</div>