<div style="padding-bottom: 20px;margin-top: 20px;">
	<div style="width: 100%;text-align: center;">
		<h1>Mes commandes</h1>
	</div>
	<div class="list">
		<div *ngFor="let ola of [1,2,3]" class="plat">
			<div style="width:100%;text-align: center;">
				<img src="/assets/sakafo.png"  style="text-align: center;">
			</div>
			<div style="padding: 8px 40px 1px 40px;text-align: center;">
				<p>[name] - [type]</p>
				<p> [restaut] - [prix] </p>
				<p> [Lieu livraison] - [heure livraison] </p>
				<p> [quantité] </p>
			</div>
		</div>
	</div>
</div>