<div class="header">
	<div class="logo">
		<img src="/assets/logo.png" width="75" height="75" style="border-radius:50%;border: 1px solid gray;">	
		<span style="color: white;width: 30% ;display: flex;align-items: center;justify-content: center;font-size: 22px;">E-Kaly</span>
	</div>
	<div class="navigation">
		<span routerLink="/admin">Listes commandes</span>
		<span routerLink="/admin">Restaurants</span>
		<span routerLink="/admin">Livreurs</span>
	</div>
	<div class="deconnexion" (click)="logOut()">
		Deconnexion
	</div>
</div>
<div style="margin-top:-5px;padding:1px;">
	<router-outlet></router-outlet>
</div>