<div class="full">
	<div class="content">
		<div class="logo"><img src="/assets/logo.png" width="100" height="100" style="border-radius:50%;border: 1px solid gray;"></div>
		<div style="text-align: center;margin-top: 10px;">
			Bienvenu sur E-Kaly
		</div>
		<div class="formulaire">
			<hr style="width:50%;margin: 0 auto;">
			<div style="text-align:center;margin-bottom: 20px;margin-top: 20px;">
				Inscription
			</div>
			<form class="form-group">
				<div class="col-8 field">
					<input type="text" class="form-control" placeholder="Entrez votre nom" >
				</div>
				<div class="col-8 field">
					<input type="text" class="form-control" placeholder="Entrez votre identifiant" >
				</div>
				<div class="col-8 field">
					<input type="text" class="form-control" placeholder="Entrez votre mot de passe" >
				</div>
				<div class="col-8 field" >
					<button class="btn btn-green-e-kaly">S'inscrire</button>
				</div>
				<div class="col-8 field" >
					<span class="inscription" routerLink="/">Se connecter ?</span>
				</div>
			</form>
		</div>
	</div>
</div>
