<div style="width:60%;margin: 0 auto;margin-top: 20px;">
	<table *ngIf="livreurs" class="table" style="text-align:center">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Contact</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let livreur of livreurs">
				<td>{{livreur.nom}}</td>
				<td>{{livreur.email}}</td>
				<td><button routerLink="/admin/commande-asigner/{{livreur._id}}" class="btn btn-green-e-kaly">Voir commande asigner</button></td>
			</tr>
		</tbody>
	</table>
	<div *ngIf="!livreurs" style="width: 100%;justify-content: center;display: flex;">
		<div class="spinner-border green-e-kaly"  role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
</div>