<div class="content">
	<div class="search">
		<div class="center">
			<div class="col-8">
				<input type="text" class="form-control" placeholder="Entrez le nom du plat">
			</div>
			<div>
				<button class="btn btn-blue-e-kaly">Rechercher</button>
			</div>			
		</div>
		<div class="filtre">
			<mat-form-field appearance="fill">
				<mat-label>Type plat</mat-label>
				<mat-select>
					<mat-option *ngFor="let type of types" value="{{type.type}}">{{type.type}}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Restaurants</mat-label>
				<mat-select>
					<mat-option *ngFor="let restaut of restauts" value="{{restaut.restaut}}">{{restaut.restaut}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<div *ngIf="!loading" class="list">
		<div *ngFor="let plat of plats" class="plat">
			<div style="width:100%;text-align: center;">
				<img src="/assets/sakafo.png"  style="text-align: center;">
			</div>
			<div style="padding: 8px 40px 1px 40px;text-align: center;">
				<p> {{plat.nom}} - {{plat.type}} </p>
				<p> {{restauts_for_join[plat.restaut].restaut}} - {{plat.prix}} Ar </p>
				<p><button class="btn btn-green-e-kaly" (click)="confirm_command(plat)">Commander</button> </p>
			</div>
		</div>
	</div >
	<div *ngIf="loading" style="width: 100%;justify-content: center;display: flex;">
		<div class="spinner-border green-e-kaly"  role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
</div>